/* CSS para pantallas más pequeñas */
@media (max-width: 768px) {
    .responsive-map {
      height: 400px; /* Ajusta la altura según tus necesidades */
    }
  }
  
  /* CSS para pantallas medianas */
  @media (min-width: 769px) and (max-width: 1200px) {
    .responsive-map {
      height: 500px; /* Ajusta la altura según tus necesidades */
    }
  }
  
  /* CSS para pantallas más grandes */
  @media (min-width: 1201px) {
    .responsive-map {
      height: 600px; /* Ajusta la altura según tus necesidades */
    }
  }